@import 'constants/variables.scss';

#app {
  --color-tone-0: #4e4f50;
  --color-tone-1: #746c70;
  --color-tone-2: #647c90;
  --color-tone-3: #e2ded0;
  position: relative;
  width: 100%;
  height: 100%;
  .main-content {
    position: fixed;
    top: $header-height;
    left: $sidebar-width;
    transition: left $sidebar-collapse-transition-time,
      width $sidebar-collapse-transition-time;
    background-color: var(--color-tone-3);
    width: calc(100% - #{$sidebar-width});
    height: calc(100% - #{$header-height});
    &.sidebar-collapsed {
      left: $sidebar-width-collapsed;
      width: calc(100% - #{$sidebar-width-collapsed});
    }
    .grid-container {
      cursor: grab;
      width: 100%;
      height: 100%;
      overflow: auto;
    }
  }
}
