@import 'constants/variables.scss';

.sidebar-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  transition: width $sidebar-collapse-transition-time;
  box-shadow: $sidebar-box-shadow;
  background-color: var(--color-tone-0);
  width: $sidebar-width;
  height: 100%;
  overflow: clip;
  color: $white;
  font-weight: bold;
  &.sidebar-collapsed {
    width: $sidebar-width-collapsed;
  }
  .content {
    display: flex;
    position: absolute;
    left: 0;
    justify-content: center;
    align-items: center;
    width: calc(#{$sidebar-width} - #{$sidebar-width-collapsed});
    height: 100%;
  }
  .collapse-container {
    position: absolute;
    right: 0;
    width: $sidebar-width-collapsed;
    height: 100%;
    .collapse-button {
      cursor: pointer;
      margin: 0 0;
      box-shadow: $sidebar-collapse-button-box-shadow;
      border: none;
      background-color: var(--color-tone-1);
      padding: 0 0;
      width: 100%;
      height: 100%;
      .bi {
        color: $white;
        font-size: $sidebar-width-collapsed;
      }
    }
  }
}
